* {
    background-color: rgb(175, 173, 173);
}

img {
    width: 100%;
    vertical-align: top;
}

a {
    font-size: 0.8rem;
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.presentacion {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.usuario {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px dotted black;
    box-sizing: border-box;
    width: 49.5%;
}

.foto {
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
    width: 170px;
}

.datos {
    flex: 1;
}

.botones {
    width: 110px;
}

button {
    padding: 6px 12px;
    outline: none;
    border-radius: 3px;
    width: 100px;
    margin: 4px;
    cursor: pointer;
    border-radius: 50px;
}

.trabajadores {
    padding: 6px 12px;
    outline: none;
    border-radius: 3px;
    width: 120px;
    margin: 4px;
    cursor: pointer;
    border-radius: 50px;
}

.trabajadores:hover {
    background-color: rgb(188, 184, 184);
}

button:hover {
    scale: 1.1;
}

.rojo {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.verde {
    background-color: green;
    border: 1px solid green;
    color: white;
}

.rojo:hover {
    color: red;
    background-color: white;
}

.verde:hover {
    color: green;
    background-color: white;
}

.usuarios {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-top: 12px;
}

/* Trabajadores*/
.fotoUsuario {
    border-radius: 180px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

.nombreUsuarios {
    font-size: 1.04em;
    margin-top: 8px;
}

.rojo1 {
    background-color: red;
    border: 1px solid red;
    color: white;
    margin-top: 7px;
    margin-bottom: 10px;
    
}

.rojo1:hover {
    color: red;
    background-color: white;
}

.seleccionador {
    margin-top: 10px;
    background-color: white;
}

.columna {
    border: 1px solid rgb(16, 2, 2);
    margin-bottom: 15px;
}